# You need the rust-src component
RUST_SRC="/path/to/rustup/lib/rustlib/src/rust/library"
# You will also need to update .cargo/config.toml
# *or* set CARGO_TARGET_DIR
RUST_OUT="/path/to/target"

TARGET=x86_64-unknown-lemmings
RUST_TARGET="$RUST_OUT/$TARGET"

export __CARGO_TESTS_ONLY_SRC_ROOT="$RUST_SRC"
