.admonition {
	border: 1px solid;
	margin: 2em;
	padding: 0;
}
.admonition.note > .admonition-title {
	background-color: lightgreen;
}
.admonition.warning > .admonition-title {
	background-color: orange;
}
.admonition > * {
	margin: 0;
	padding: 0.5em;
}
